@{
    ViewBag.Title = "WeapTech";
}
<h2>@ViewBag.Title.</h2>
<h3>Bringing you the Latest and Greatest in Glatic Warfare!</h3>

<p>Here at WeapTech, we strive to privide our customers with the latest and greatest technological weapons!  Whether your a rebel, Jedi, Sith Lord, or member of the First Order you'll find what you're looking for here!</p>
