@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mainSec">
    <h2>WeapTech</h2>
    <p class="lead">Bringing you the Latest and Greatest in Galactic Warfare!</p>
    <p><a href="https://en.wikipedia.org/wiki/List_of_Star_Wars_weapons" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>


</div>

<div class="row">

    <div class="col-md-4">
        <h2>Weapons Index</h2>
        <p>Want to learn more about our Weapon categories?  Check out our weapons index and browse our detailed overviews! </p>
        <p><a a href="~/Categories/Index" target="_blank" class="btn btn-primary" role="button">Weapons List</a></p>
    </div>

    <div class="col-md-4">
        <h2>Weapons List</h2>
        <p>Here at WeapTech we offer a wide variety of Weapon Technology from lightsabers, to blasters, electrostaffs, and more!  Check out our weapons list to learn more! </p>
        <p><a a href="~/WeapDetails/Index" target="_blank" class="btn btn-primary" role="button">Weapons List</a></p>
    </div>

    <div class="col-md-4">
        <h2>Customer Reviews</h2>
        <p>Are you on the fence about a particular weapon?  Want to know what our customers are saying about it before you buy?  Then head on over to our review section and find out!</p>
        <p><a a href="~/Reviews/Index" target="_blank" class="btn btn-primary" role="button">Reviews</a></p>
    </div>
</div>